
    <footer class="text-bg-dark">
        <div class="container">
            <p>Made with ❤️ by Umesh Kashyap</p>
        <div class="socials-footer pt-3 py-4">
          <a href="https://github.com/umeshrl9"><img width="40" height="40" src="/images/icons8-github.svg" class="social" alt="github"/></a>
          <a href="https://in.linkedin.com/in/umesh-kashyap-60a34028b"><img width="40" height="40" src="/images/icons8-linkedin.svg" class="social" alt="linkedin"/></a>
          <a href="https://www.instagram.com/umya3729/"><img width="40" height="40" src="/images/icons8-instagram.svg" class="social" alt="instagram-new"/></a>
        </div>
        <div class="final">
        <p>&copy; | All rights reserved</p>
        </div>
        <div class="final">
          <p>Icons by <a href="https://www.icons8.com">Icons8</a></p>
          </div>
      </footer>