<%- include("partials/header.ejs") %>

<div class="mainBody">
    <div class="container">
        <form action="/create" method = "POST">
            <div class="contact-input mb-3 col-lg-12">
              <label for="title" class="form-label">Title</label>
              <input class="form-control" id="title" name="title" placeholder="Enter your name" required>
            </div>
            <div class="contact-input mb-3 col-lg-12">
              <label for="content" class="form-label">Content: </label>
              <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
            </div>
            <div class="submit-button mb-3 col-lg-6">
              <button class="btn btn-warning" type="submit">Create Blog</button>
            </div>
          </form>
        
    </div>
</div>

<%- include("partials/footer.ejs") %>   