<%- include("partials/header.ejs") %>

<div class="main-hero ">
  <div class="container">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Your personal blogging site!</h1>
        <p class="lead">Welcome to your personal blogging platform, built for simplicity and ease of use. Whether you're penning down daily thoughts or exploring creative ideas, our minimalist design lets you focus on what matters most: your words. No frills, just your blog, your way.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <a href="/auth" class = "btn btn-info btn-lg px-4 me-md-2 fw-bold">Let's start</a>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="/images/iphone-1852901_1920.jpg" alt="" width="720">
      </div>
    </div>
  </div>
    
</div>

<%- include("partials/footer.ejs") %>
