footer{
    font-family: "Press Start 2P"
}

footer{
    text-align: center;
    padding-top: 30px;
}

.final{
    display: flex;
    justify-content: center;
}

.socials-footer a img{
    position: relative;
}

.socials-footer a img:hover{
    top: -5px;
}