.mainBody{
    background-color: rgb(78, 76, 76);
    font-family: "Press Start 2P";
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    color: white;
}

a{
    color: aqua
}

.display-blog{
    margin-bottom: 50px;
}

.create-blog-button{
    background-color: rgb(78, 76, 76);
    font-family: "Press Start 2P";
}